<div class="card">
  <button class="button" (click)="deleteGift()" (click)="onDelete.emit()"><b title="Delete">x</b></button>
  <!-- <div class=" audience">{{gift.audience.name}}</div> -->
  <div class="name">
    <p class="ellipsis"><b>{{gift.name}}</b></p>
  </div>
  <div class="description">
    {{gift.description}}
  </div>
  <div class="price">
    <b>{{gift.price | currency: 'ILS'}}</b>
  </div>
  <div class="inStock">
    Units in stock:{{gift.unitsInStock}}
    {{gift.discount}}
  </div>
  <div class="discount">
      {{gift.discount}}%  Discount
  </div>
  <br/>
  <div class="button-add">
   <button>Add to cart</button>
</div>
  </div>
