
  .card {
    position: relative;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    color: rgb(10, 10, 11);
    width: 150px;
   margin-right: 5px;
   box-shadow: 2px 3px 4px 2px gray;
   height: 100%;
  }

   .button {
    background-color: #39999e;
    color: white;
    border: none;
    padding: 5px 10px;
    /* border-radius: 50%; */
   height: 10%;
    position: absolute;
    left: 0%;
    top: 0%;
  }

  .card .button:focus {
    outline: none;
  }

  .card .discount {
    height: 20%;
    border: 2px solid #39999e;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
  }

  .card .name {
    margin-top: 10px;
    height: 20%;
  }

  .card .name p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
  }

  .card .description {
    margin-top: 10px;
    height: 20%;
  }

  .card .price {
    margin-top: 10px;
    height: 10%;
  }

  .card .price b {
    border: 2px solid #39999e;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    height: 10%;
  }

  .card  .discount {
    padding: 5px 10px;
    height: 8%;
  }
  .card .inStock {
    margin-top: 10px;
    height: 10%;
  }

  .card .Buuton-add {
    margin-top: 15px;
    height: 10%;
  }