<div class="form-container">
    <form (ngSubmit)="send()" ngNativeValidate>
        <h3>Add Gift</h3>
        <label>Audience:</label>
        <select class="form-select" name="audienceId" [(ngModel)]="gift.audienceId" required>
            <option selected disabled value="">select audience</option>
            <option *ngFor="let a of audience" value="{{a._id}}">{{a.name}}</option>
        </select>
        <div class="form-group">
            <label class="form-label">Gift-name:</label>
            <input class="form-input" type="text" name="name" [(ngModel)]="gift.name" required>
        </div>

        <div class="form-group">
            <label class="form-label">Description:</label>
            <input class="form-input" type="text" name="description" [(ngModel)]="gift.description" required>
        </div>

        <div class="form-group">
            <label class="form-label">Price:</label>
            <input class="form-input" type="number" name="price" [(ngModel)]="gift.price" required>
        </div>

        <div class="form-group">
            <label class="form-label">Units In Stock:</label>
            <input class="form-input" type="number" name="unitsInStock" [(ngModel)]="gift.unitsInStock" required>
        </div>

        <div class="form-group">
        <label class="form-label">Discount:</label>
        <input class="form-input"type="number" name="discount" [(ngModel)]="gift.discount" required>
    </div>
        <button class="form-button">Add</button>
    </form>

</div>