.list{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    text-align: center;
}


.form-select {
    width: 40%;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    border:  solid 2px rgb(40, 157, 138);


  }

  table{
    position: relative;
       z-index: 1000;
       width: 90%;
       margin-left: 4%;
}

table th, td, tr{
    border: solid white 4px;
    background-color:rgb(96, 172, 177);
    width:200px ;
}